<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <form action="{% url 'accounts:login' %}" method="POST">
        {% csrf_token %}
        {% include 'form_errors.html' %}
        <label for="username">ID</label>
        <input type="text" name="username" id="username" value="{{form.username.value|default_if_none:''}}">
        <label for="password">PW</label>
        <input type="password" name="password" id="password" value="{{form.password.value|default_if_none:''}}">
        <button type="submit" class="btn btn-primary">login</button>
    </form>
</head>
<body>

</body>
</html>