/* div{
    border: 1px solid black;
} */

.top {
    margin: 10px;
    width: 80%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.img {
    width: 20%;
}

.menuInput {
    width: 80%;
}

.menu {
    display: flex;
    justify-content: flex-end;
}

p{
    margin-top: auto;
    margin-bottom: auto;
}

.inputButton{
    display: flex;
    width: 75%;
}

.inputBar{
    width: 70%;
    margin-right: 8px;
}

.button{
    width: 30%;
}

input {
    width: 100%;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}
