<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>금오공과대학교</title>
</head>
<body>
    <div>
        <a href="kit">kit</a>
    </div>

    <div>
        <a href="kit/computer">Computer Software Engineering</a>
    </div>

    <div>
        <a href="likelion">LikeLion</a>
    </div>

    <div>
        <a href="likelion/backEnd">BACKEND</a>
    </div>

    <div>
        <a href="likelion/frontEnd">FRONTEND</a>
    </div>

    <div>
        <a href="likelion/pmDesign">PMDESIGN</a>
    </div>

</body>
</html>