<h1>로그인하기</h1>
{% if status == "fail1" %}
<script>
    alert('비밀번호가 일치하지 않습니다.');
</script>
{% endif %}
{% if status == "fail2" %}
<script>
    alert('계정이 존재하지 않습니다.');
</script>
{% endif %}
<form method="POST" action="">
    {% csrf_token %}
    {% for field in form %}
    <input type="{{field.field.widget.input_type}}" id="{{field.id_for_label }}" placeholder="{{field.label}}"
        name="{{field.name}}" />
    <br>
    <br>
    {% endfor %}
    <button type="submit" class="btn btn-primary">로그인</button>
</form