{% if user.is_authenticated %}
<a href="{% url 'logout' %}">로그아웃</a>
{% else %}
아직 로그인이 되지 않았어요.<br/>
<a href="{% url 'login' %}">로그인</a>
{% endif %}
<br/>

<h1>Memopad</h1>

{% for post in posts %}
    <a href="{% url 'detail' post.id %}"><h3>제목: {{ post.title }}</h3></a>
    <h4>작성날짜: {{ post.date }}</h4>
{% endfor %}
<br/>

{% if user.is_authenticated %}
<a href="{% url 'write' %}">새 메모 작성</a><br/><br/>
{% endif %}

{% if posts.has_previous %}
<a href="?page=1">첫 페이지</a>
<a href="?page={{posts.previous_page_number}}">이전 페이지</a>
{% endif %}

<span> {{ posts.number }} </span>
<span> / </span>
<span> {{ posts.paginator.num_pages }} </span>

{% if posts.has_next %}
<a href="?page={{posts.next_page_number}}">다음 페이지</a>
<a href="?page={{posts.paginator.num_pages}}">마지막 페이지</a>
{% endif %}

