<h1>회원가입하기</h1>
{% if status == "duplicate" %}
<script>
    alert('이미 존재하는 계정입니다.');
</script>
{% endif %}
{% if status == "fail" %}
<script>
    alert('계정이 존재하지 않습니다.');
</script>
{% endif %}
{% if status == "diff" %}
<script>
    alert('비밀번호가 다릅니다.');
</script>
{% endif %}
<form method="POST" action="">
    {% csrf_token %}
    {% for field in form %}
    <input type="{{field.field.widget.input_type}}" id="{{field.id_for_label }}" placeholder="{{field.label}}"
        name="{{field.name}}" />
    <br>
    <br>
    {% endfor %}
    <button type="submit" class="btn btn-primary">회원가입</button>
</form>